<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>

<form th:action="@{/tasks/result}" th:object="${taskVO}" method="get">

    <div>
        <p>한국어</p>
        <input type="text" th:field="*{taskKor}" />
    </div>
    <div>
        <p>수학</p>
        <input type="text" th:field="*{taskMath}" />
    </div>
    <div>
        <p>영어</p>
        <input type="text" th:field="*{taskEng}" />
    </div>
    <div>
        <button type="submit">결과 보기</button>
    </div>
</form>
</body>
</html>